<?xml version="1.0" encoding="UTF-8"?>

<web-app>

  <welcome-file-list>
    <welcome-file>index</welcome-file>
  </welcome-file-list>

  <servlet>
    <servlet-name>MainServlet</servlet-name>
    <servlet-class>MainServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MainServlet</servlet-name>
    <url-pattern>/index</url-pattern>
  </servlet-mapping>

  <security-constraint>
    <web-resource-collection>
      <web-resource-name>WEB</web-resource-name>
      <url-pattern>/*</url-pattern>
    </web-resource-collection>
  </security-constraint>

  <filter>
    <filter-name>RoleFilterAJAX</filter-name>
    <filter-class>com.controlj.green.addonsupport.web.RoleFilter</filter-class>
    <init-param>
      <param-name>roles</param-name>
      <param-value>view_geo_tree</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>RoleFilterAJAX</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>

</web-app>